body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
}

.top {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 10px;
    padding-bottom: 100px;
}

#header-logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    gap: 15px;
}

ul{
    padding: 0%;
    margin: 0;
    gap: 16px;
    list-style-type: none;
    display: flex;
}


ul,.average-text {
    font-size: 18px;
    color: rgb(109, 116, 125);
}

#top-content{
    display: flex;
    flex-direction: row;
    flex: 1 1 0;

}



#hero-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.quote {
    background-color: #E5E7EB;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 375px;
    padding-right: 375px;
    display: flex;
    flex-direction: column;
   
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 100;
}

.action {
    background-color: #3882f6;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 8px;
    gap: 150px;
}

.call-action {
    font-weight: bolder;
    color: white;
    font-size: larger;
    
}

.sign-up {
    font-weight: normal;
    font-size: 18px;
    color: rgb(206, 206, 206);
}

.action-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

button {
    background-color: #3882f6;
    border-radius: 10px;
    border-style: none;
    width: 125px;
    height: 40px;
    color: white;
    font-weight: bold;
    min-width: 125px;
}

.action button {
    border-style: solid;
    border-color: white;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: rgb(199, 199, 199);
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 18px;
}

.boxes {
    display: flex;
    flex: 1;
    justify-content: space-between;
    
    gap: 50px;
}

.subtext {
    color: rgb(109, 116, 125);
    font-size: 10px;
    text-align: center;
    max-width: 100px;
}

.box {
    border-radius: 10px;
    border-color: #3882f6;
    border-style: solid;
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
    border-width: 3px;
}

.title {
    font-weight: bolder;
    font-size: 32px;
    justify-self: center;
    margin-top: 50px;
}

.info-section {
    padding-left: 375px;
    padding-right: 375px;
    padding-top: 50px;
    padding-bottom: 150px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}